<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <header>
    <img
      @click="reload"
      src="@/assets/cashflow-icon_070076db-e83a-4afa-b18d-ee058c2b646e.svg"
      alt="Logo"
    />
    <h1><span>Cash</span>Flow</h1>
    <span></span>
  </header>
</template>

<script>
export default {
  methods: {
    reload() {
      location.reload();
    },
  },
};
</script>

<style scoped>
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
img,
span {
  width: 48px;
}
h1 {
  font-size: 1.4rem;
  color: var(--brand-blue);
}
h1 span {
  color: var(--brand-green);
}
</style>
